.my-page{
    min-height: 100vh;
    .sidebar    {
        padding-bottom: 30px;
    }
    p{
        color: #fff;
    }
    .input-wrap{
        display: flex;
        gap: 0;
        input{
            max-width: 348px;
        }
        .create-btn{
            background-color: #F6BE4B;
            color: #000;
            padding: 13px 19px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

        }
    }
}