.filter {
  width: 13.8%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 42px 18px;
  gap: 10px;
  .checkbox-group {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    span {
      color: #fff;
      font-size: 13px;
      font-weight: 400;
    }
    input {
      width: 19px;
      height: 19px;

      background-color: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .filter{
    .checkbox-group{
      span{

      }
      input{
        width: 14px;
        height: 14px;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .filter{
    width: 100%;
  }
}


